################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CVBuilder/.vs
/CVBuilder/CVBuilder/bin
/CVBuilder/CVBuilder/obj/Debug
/CVBuilder/packages
/CVBuilder/CVBuilder.Data/bin/Debug
/CVBuilder/CVBuilder.Data/obj/Debug
/CVBuilder/CVBuilder.Domain/obj/Debug
/CVBuilder/CVBuilder.Services/bin/Debug
/CVBuilder/CVBuilder.Services/obj/Debug
