.page {
    width: 210mm;
    height: 297mm;
    max-width: 210mm;
    margin: 0 auto;
    background: white;
    outline: 1px #28a745 solid;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}

.page > .row:not(:first-child) {
    padding: 0.5cm;
}
    
/*@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body
    {
        zoom: 146%;
    }

    .page {
        margin: 0;
        outline: 0;
    }
}*/


.cv-header {
    background-color: #2b3033;
    /*border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;*/
}

.cv-header img {
    width: 100px;
    border: 1px solid lightgray;
}

.cv-header h1 {
    color: white;
    font-family: 'Barlow';
    text-transform: uppercase;
}

.cv-legend {
    background-color: #f5f5f5;
    padding-top: 0.5rem;
}

.highlight {
    color: #00b057;
}

.cv-legend h4 {
    font-family: 'Barlow';
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
}

.page h5 {
    font-family: 'Barlow';
    font-size: 1.1rem;
    font-weight: bold;
}

.page .left-panel hr {
    max-width: 100% !important;
    margin-top: 0;
    border-color: black;
}

.page p {
    font-size: 0.9rem;
    text-align: justify;
    color: #3e3e3e;
    margin-bottom: 0;
}

.page p, .page span {
    font-family: 'Roboto';
}

.page .progress {
    background-color: #e8e8e8;
}

.page .progress-bar {
    background-color: #00b057;
}

.page .left-panel span, .page .right-panel span {
    display: block;
    overflow-wrap: break-word;
    font-size: 0.9rem;
}

.page .left-panel .row, .page .right-panel .row {
    margin-top: 0.4rem;
}

.contact .row i {
    font-size: 1.5rem;
}

.contact span {
    overflow-wrap: break-word !important;
}

.page .right-panel hr {
    max-width: 100% !important;
    margin-top: 0;
    border-color: #b5b2b2;
}

.page .right-panel .legend {
    color: #8e8b8b;
}

.page .right-panel .subtitle {
    color: black;
    margin-bottom: 6px;
}

.block-title {
    font-weight: bold;
    font-size: 1.1rem !important;
}