<link href="~/css/templates/classic.css" rel="stylesheet" />
<div class="col-auto page">
    <div class="row cv-header">
        <div class="col">
            <img class="img-fluid rounded-circle" src="~/img/profile_coat.png" />
            <p class="title">Juan Pérez</p>
            <p class="subtitle">juan.perez@gmail.com | (+5411) 1234-5678</p>
            <p class="subtitle"><i class="fab fa-facebook-square highlight"></i> juanperez &nbsp; <i class="fab fa-linkedin highlight"></i> juanperez &nbsp; <i class="fab fa-twitter highlight"></i> juanperez</p>
            <p class="subtitle">Buenos Aires, Argentina</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="block-title text-uppercase">Experiencia laboral</h3>
            <hr class="mw-100 mt-0 mb-0" />
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Creative Corporation</h5>
            <h5 class="block-subtitle">Ciudad Autónoma de Buenos Aires</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Diseñador web & gráfico</h5>
            <h5 class="block-subtitle">Septiembre 2018-Diciembre 2019</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Creative Corporation</h5>
            <h5 class="block-subtitle">Ciudad Autónoma de Buenos Aires</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Diseñador web & gráfico</h5>
            <h5 class="block-subtitle">Septiembre 2018-Diciembre 2019</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="block-title text-uppercase">Estudios</h3>
            <hr class="mw-100 mt-0 mb-0" />
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Universidad Nacional</h5>
            <h5 class="block-subtitle">Ciudad Autónoma de Buenos Aires</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Diseñador gráfico</h5>
            <h5 class="block-subtitle">Septiembre 2011-Diciembre 2016</h5>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Escuela Nº111</h5>
            <h5 class="block-subtitle">Ciudad Autónoma de Buenos Aires</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Bachiller en Economía</h5>
            <h5 class="block-subtitle">Septiembre 1997-Diciembre 2010</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="block-title text-uppercase">Referencias personales</h3>
            <hr class="mw-100 mt-0 mb-0" />
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="mt-2">
        <div class="row cv-block mt-0">
            <div class="col-4">
                <h3 class="block-title text-uppercase">Idiomas</h3>
            </div>
            <div class="col-8">
                <p>Español (nativo), Inglés (Avanzado), Francés (Intermedio)</p>
            </div>
        </div>
        <div class="row cv-block mt-0">
            <div class="col-4">
                <h3 class="block-title text-uppercase">Habilidades</h3>
            </div>
            <div class="col-8">
                <p>Photoshop, Illustrator, CorelDRAW, Word, Excel</p>
            </div>
        </div>
        <div class="row cv-block mt-0">
            <div class="col-4">
                <h3 class="block-title text-uppercase">Intereses</h3>
            </div>
            <div class="col-8">
                <p>Comer, correr, ver series.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="block-title text-uppercase">Referencias personales</h3>
            <hr class="mw-100 mt-0 mb-0" />
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h5 class="block-subtitle font-weight-bold">Soft Tech</h5>
            <h5 class="block-subtitle">(+5411) 1234-5678</h5>
        </div>
        <div class="col-8">
            <h5 class="block-subtitle font-weight-bold">Juan Pérez</h5>
            <h5 class="block-subtitle">juan.perez@mail.com</h5>
            <p>Juan se desempeñó correctamente en los proyectos en los que estuvo involucrado. Participó y lideró con solidez los grupos de trabajo.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="row cv-block">
        <div class="col-4">
            <h3 class="block-title text-uppercase">Resumen profesional</h3>
        </div>
        <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="mt-2">
        <div class="row cv-block mt-0">
            <div class="col-4">
                <h3 class="block-title text-uppercase">Idiomas</h3>
            </div>
            <div class="col-8">
                <p>Español (nativo), Inglés (Avanzado), Francés (Intermedio)</p>
            </div>
        </div>
        <div class="row cv-block mt-0">
            <div class="col-4">
                <h3 class="block-title text-uppercase">Habilidades</h3>
            </div>
            <div class="col-8">
                <p>Photoshop, Illustrator, CorelDRAW, Word, Excel</p>
            </div>
        </div>
    </div>
</div>