<link href="~/css/templates/elegant.css" rel="stylesheet" type="text/css" />
<div class="row no-gutters page">
    <div class="col-4 left-panel">
        <div class="row">
            <div class="col mt-3 text-center">
                <img class="img-fluid rounded-circle" src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="title">Contacto</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col-10">
                        <span>New York, U.S.A.</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="col-10">
                        <span>(+5411) 1234-5678</span>
                        <span>(+5411) 1357-2468</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fas fa-globe-americas"></i>
                    </div>
                    <div class="col-10">
                        <span>contact@mail.com</span>
                        <span>https://www.github.com</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="title">Habilidades</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Photoshop</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Illustrator</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">CorelDRAW</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Word</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Excel</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="title">Idiomas</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Inglés</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col">
                        <span class="text-uppercase">Francés</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="title">Redes sociales</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div class="col-10">
                        <span>facebook.com/juanperez</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div class="col-10">
                        <span>linkedin.com/juanperez</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-2">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="col-10">
                        <span>twitter.com/juanperez</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 right-panel">
        <div class="row">
            <div class="col mt-3">
                <h1 class="text-uppercase">Juan Pérez</h1>
                <h5 class="occupation text-uppercase">Diseñador gráfico</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="title"><i class="far fa-calendar-check"></i> Resumen profesional</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="title"><i class="fas fa-briefcase"></i> Experiencia laboral</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Creative Corporation</span>
                        <span>2018-2019</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Diseñador web & gráfico</span>
                        <span>Ciudad Autónoma de Buenos Aires</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Creative Corporation</span>
                        <span>2018-2019</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Diseñador web & gráfico</span>
                        <span>Ciudad Autónoma de Buenos Aires</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="title"><i class="fas fa-graduation-cap"></i> Estudios</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Universidad Nacional</span>
                        <span>2011-2016</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Diseñador gráfico</span>
                        <span>Ciudad Autónoma de Buenos Aires</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Escuela Nº111</span>
                        <span>1997-2010</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Bachiller en Economía</span>
                        <span>Ciudad Autónoma de Buenos Aires</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="title"><i class="far fa-file-alt"></i> Referencias personales</h1>
                <hr class="mw-100" />
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Soft Tech</span>
                        <span>(+5411) 1234-5678</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Juan Pérez</span>
                        <span>juan.perez@mail.com</span>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title">Soft Tech</span>
                        <span>(+5411) 1234-5678</span>
                    </div>
                    <div class="col-7 offset-1">
                        <span class="block-title text-uppercase">Juan Pérez</span>
                        <span>juan.perez@mail.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row no-gutters">
                    <div class="col-4">
                        <span class="block-title text-uppercase">Intereses</span>
                    </div>
                    <div class="col-7 offset-1">
                        <p>Comer, correr, ver series</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
