<link href="~/css/templates/modern.css" rel="stylesheet" type="text/css" />
<div class="col-auto page">
    <div class="row cv-header">
        <div class="col-5 text-right justify-content-center align-self-center">
            <h1>Juan</h1>
        </div>
        <div class="col-2 mt-3 mb-3 text-center">
            <img class="img-fluid rounded-circle" src="~/img/profile_coat.png" />
        </div>
        <div class="col-5 justify-content-center align-self-center">
            <h1>Pérez</h1>
        </div>
        <div class="col cv-legend">
            <h4>Diseñador gráfico</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4 left-panel">
            <div class="row">
                <div class="col">
                    <h5><i class="far fa-calendar-check highlight"></i> Resumen profesional</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-star highlight"></i> Habilidades</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Photoshop</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Illustrator</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>CorelDRAW</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Word</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Excel</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9">
                    <span>contact@mail.com</span>
                    <span>https://www.github.com</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-phone-volume highlight"></i>
                </div>
                <div class="col-9">
                    <span>(+5411) 1234-5678</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-facebook-square highlight"></i>
                </div>
                <div class="col-9">
                    <span>facebook.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-linkedin highlight"></i>
                </div>
                <div class="col-9">
                    <span>linkedin.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-twitter highlight"></i>
                </div>
                <div class="col-9">
                    <span>twitter.com/juanperez</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-star highlight"></i> Habilidades</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Photoshop</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 80%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Illustrator</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>CorelDRAW</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 55%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Word</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters justify-content-end">
                <div class="col-11">
                    <span>Excel</span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%"></div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9">
                    <span>contact@mail.com</span>
                    <span>https://www.github.com</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-phone-volume highlight"></i>
                </div>
                <div class="col-9">
                    <span>(+5411) 1234-5678</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-facebook-square highlight"></i>
                </div>
                <div class="col-9">
                    <span>facebook.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-linkedin highlight"></i>
                </div>
                <div class="col-9">
                    <span>linkedin.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-twitter highlight"></i>
                </div>
                <div class="col-9">
                    <span>twitter.com/juanperez</span>
                </div>
            </div>
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9">
                    <span>contact@mail.com</span>
                    <span>https://www.github.com</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-phone-volume highlight"></i>
                </div>
                <div class="col-9">
                    <span>(+5411) 1234-5678</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-facebook-square highlight"></i>
                </div>
                <div class="col-9">
                    <span>facebook.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-linkedin highlight"></i>
                </div>
                <div class="col-9">
                    <span>linkedin.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-twitter highlight"></i>
                </div>
                <div class="col-9">
                    <span>twitter.com/juanperez</span>
                </div>
            </div>
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9">
                    <span>contact@mail.com</span>
                    <span>https://www.github.com</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-phone-volume highlight"></i>
                </div>
                <div class="col-9">
                    <span>(+5411) 1234-5678</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-facebook-square highlight"></i>
                </div>
                <div class="col-9">
                    <span>facebook.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-linkedin highlight"></i>
                </div>
                <div class="col-9">
                    <span>linkedin.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-twitter highlight"></i>
                </div>
                <div class="col-9">
                    <span>twitter.com/juanperez</span>
                </div>
            </div>
            <div class="row no-gutters contact">
                <div class="col">
                    <h5><i class="far fa-comment highlight"></i> Contacto</h5>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-globe-americas highlight"></i>
                </div>
                <div class="col-9">
                    <span>contact@mail.com</span>
                    <span>https://www.github.com</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fas fa-phone-volume highlight"></i>
                </div>
                <div class="col-9">
                    <span>(+5411) 1234-5678</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-facebook-square highlight"></i>
                </div>
                <div class="col-9">
                    <span>facebook.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-linkedin highlight"></i>
                </div>
                <div class="col-9">
                    <span>linkedin.com/juanperez</span>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-right">
                    <i class="fab fa-twitter highlight"></i>
                </div>
                <div class="col-9">
                    <span>twitter.com/juanperez</span>
                </div>
            </div>
        </div>
        <div class="col-8 right-panel">
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-briefcase highlight"></i> Experiencia laboral</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador web & gráfico</h5>
                    <h5 class="d-inline legend"> | 2018-2019</h5>
                    <p class="subtitle">Creative Corporation | Buenos Aires, Argentina</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador web & gráfico</h5>
                    <h5 class="d-inline legend"> | 2018-2019</h5>
                    <p class="subtitle">Creative Corporation | Buenos Aires, Argentina</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-graduation-cap highlight"></i> Estudios</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador gráfico</h5>
                    <h5 class="d-inline legend"> | 2011-2016</h5>
                    <p class="subtitle">Universidad Nacional | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Bachiller en Economía</h5>
                    <h5 class="d-inline legend"> | 1997-2010</h5>
                    <p class="subtitle">Escuela Nº111 | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-chalkboard-teacher highlight"></i> Referencias personales</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Juan Pérez</h5>
                    <h5 class="d-inline legend"> | juan.perez@mail.com</h5>
                    <p class="subtitle">Soft Tech | (+5411) 1234-5678</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Juan Pérez</h5>
                    <h5 class="d-inline legend"> | juan.perez@mail.com</h5>
                    <p class="subtitle">Soft Tech | (+5411) 1234-5678</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-language highlight"></i> Idiomas</h5>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Inglés</span>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Francés</span>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-bullhorn highlight"></i> Intereses</h5>
                    <hr />
                    <p class="pt-2">Comer, correr, ver series.</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-briefcase highlight"></i> Experiencia laboral</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador web & gráfico</h5>
                    <h5 class="d-inline legend"> | 2018-2019</h5>
                    <p class="subtitle">Creative Corporation | Buenos Aires, Argentina</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador web & gráfico</h5>
                    <h5 class="d-inline legend"> | 2018-2019</h5>
                    <p class="subtitle">Creative Corporation | Buenos Aires, Argentina</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-graduation-cap highlight"></i> Estudios</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Diseñador gráfico</h5>
                    <h5 class="d-inline legend"> | 2011-2016</h5>
                    <p class="subtitle">Universidad Nacional | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Bachiller en Economía</h5>
                    <h5 class="d-inline legend"> | 1997-2010</h5>
                    <p class="subtitle">Escuela Nº111 | Ciudad Autónoma de Buenos Aires</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-chalkboard-teacher highlight"></i> Referencias personales</h5>
                    <hr />
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Juan Pérez</h5>
                    <h5 class="d-inline legend"> | juan.perez@mail.com</h5>
                    <p class="subtitle">Soft Tech | (+5411) 1234-5678</p>
                </div>
            </div>
            <div class="row no-gutters justify-content-start">
                <div class="col-11">
                    <h5 class="d-inline highlight">Juan Pérez</h5>
                    <h5 class="d-inline legend"> | juan.perez@mail.com</h5>
                    <p class="subtitle">Soft Tech | (+5411) 1234-5678</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-language highlight"></i> Idiomas</h5>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Inglés</span>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 70%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <span>Francés</span>
                                </div>
                                <div class="col-6 align-self-center">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 50%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5><i class="fas fa-bullhorn highlight"></i> Intereses</h5>
                    <hr />
                    <p class="pt-2">Comer, correr, ver series.</p>
                </div>
            </div>
        </div>
    </div>
</div>
