@model CVBuilder.ViewModels.Curriculum.SkillsViewModel

@using (Ajax.BeginForm("Skills", "Curriculum", new AjaxOptions() { HttpMethod = "POST" }, new { id = "skills_form" }))
{
    <fieldset>
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label>Nombre del programa</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Ej: Microsoft Word" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nivel</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="row mb-4">
        <div class="col-lg-8">
            <div class="btn-group">
                <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-check"></i> Hecho</button>
            </div>
        </div>
        <div class="col-lg-4 text-right">
            <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
        </div>
    </fieldset>
}
