@model CVBuilder.ViewModels.Curriculum.SummaryBlockViewModel

<div class="card bg-light contracted-block mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-8">
                <h5>@Model.Title @Model.StateInTime</h5>
            </div>
            <div class="col-lg-4 text-right">
                <button type="button" class="btn btn-sm btn-outline-success border-0" data-id="@Model.SummaryId" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-sm btn-outline-danger border-0" data-id="@Model.SummaryId" title="Eliminar"><i class="far fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
</div>

