
@{
    ViewBag.Title = "Creador de CV en línea, sencillo y gratuito";
}

@section curriculum_build { <script src="~/js/index.js" type="text/javascript"></script> }

<header id="landing_page" class="masthead">
    <div class="container container-content h-100">
        <div class="row h-100">
            <div class="col-lg-7 my-auto">
                <div class="header-content mx-auto">
                    <h1 class="mb-5">Creador de CV en línea. Introduce tu datos, elige una plantilla y descárgalo. Es sencillo, fácil de usar y GRATUITO.</h1>
                    <a href="@Url.Action("Build","Curriculum")" class="btn btn-outline btn-xl">Crear mi curriculum ahora <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-5 my-auto">
                <div class="device-container">
                    <div class="device-mockup ipad_air_2 portrait silver">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/img/templates/modern.png" class="img-fluid" alt="cv_example">
                            </div>
                            <a class="button js-scroll-trigger" href="#templates" title="Ver todas las plantillas">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</header>

<section id="features" class="features">
    <div class="container">
        <div class="section-heading text-center">
            <i class="far fa-file-alt icon-item"></i>
            <h2>CVBuilder te ayuda a presentar un excelente curriculum profesional</h2>
            <p class="text-muted">Echa un vistazo a algunas de las características de la plataforma</p>
            <hr>
        </div>
        <div class="row">
            @*<div class="col-lg-4 my-auto">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="~/img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col my-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="far fa-smile"></i>
                                <h3>Fácil de usar</h3>
                                <p class="text-muted">La plataforma fue echa para que sea lo más amena posible para el usuario</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="fas fa-cloud-upload-alt"></i>
                                <h3>Guardado en la nube</h3>
                                <p class="text-muted">Crea una cuenta y podrás mantener siempre los cambios de tu curriculum para cuando lo necesites</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="fas fa-palette"></i>
                                <h3>Temas</h3>
                                <p class="text-muted">Puedes elegir entre distintas plantillas al momento de crear tu cv</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="fas fa-puzzle-piece"></i>
                                <h3>Secciones propias</h3>
                                <p class="text-muted">Si las secciones del CV no son suficientes para ti puedes crear todas las que quieras</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="fas fa-download"></i>
                                <h3>Descarga</h3>
                                <p class="text-muted">Una vez terminado podrás descargar el CV como PDF listo para enviarlo</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="feature-item">
                                <i class="icon-present text-primary"></i>
                                <h3>Gratuito</h3>
                                <p class="text-muted">Puedes crear, editar y descargar tu CV las veces que quieras sin ningún costo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="templates" class="download text-center">
    <div class="container">
        @*<div class="blur"></div>
        <div class="overlay"></div>*@
        <div class="row">
            <div class="col">
                <i class="fas fa-magic icon-item"></i>
                <h2 class="section-heading">Dale tu estilo al curriculum con estas plantillas disponibles</h2>
                <p>Puedes cambiarla en cualquier momento mientras creas tu CV. ¡Elige el que más te guste!</p>
                <hr />
            </div>
        </div>
        <div class="row available-templates">
            <div class="col-4">
                <a href="~/img/templates/classic.png" target="_blank" title="Ver en detalle"><img class="img-fluid" src="~/img/templates/classic.png" alt="classic_template" /></a>
                <p class="template-name">Classic</p>
            </div>
            <div class="col-4">
                <a href="~/img/templates/elegant.png" target="_blank" title="Ver en detalle"><img class="img-fluid" src="~/img/templates/elegant.png" alt="elegant_template" /></a>
                <p class="template-name">Elegant</p>
            </div>
            <div class="col-4">
                <a href="~/img/templates/modern.png" target="_blank" title="Ver en detalle"><img class="img-fluid" src="~/img/templates/modern.png" alt="modern_template" /></a>
                <p class="template-name">Modern</p>
            </div>
        </div>
    </div>
</section>

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <i class="far fa-comment-alt icon-item"></i>
                <h2>Testimonios</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <blockquote class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
            <div class="col-4">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
            <div class="col-4">
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
            <div class="col-12 mt-4"></div>
            <div class="col-4">
                <blockquote class="blockquote">
                    <p class="mb-0">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
            <div class="col-4">
                <blockquote class="blockquote text-center">
                    <p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
            <div class="col-4">
                <blockquote class="blockquote text-right">
                    <p class="mb-0">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section id="download" class="download text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <i class="fas fa-mobile-alt icon-item"></i>
                <h2 class="section-heading">¡Descubre una manera eficiente de elaborar curriculum profesionales!</h2>
                <p>¡Nuestra aplicación está disponible para cualquier dispositivo móvil! ¡Descárgalo ahora para comenzar!</p>
                <div class="badges">
                    <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt="google_play_link" /></a>
                    <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt="app_store_link" /></a>
                </div>
            </div>
        </div>
    </div>
</section>
